@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --borderColor:rgba(255,255,255,0.04);
    --navHeight:15vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, a{
    background-color: rgb(5,10,15);
    color: white;
}

/* NAV BAR SECTION */

nav{
    height: var(--navHeight);
    border-bottom: 1px solid var(--borderColor);
    display: grid;
    grid-template:1fr / 2fr 2fr 1fr 1fr;
}

.nav__section{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--borderColor) ;
}

.nav__section:nth-child(1){
    justify-content: flex-start;
    padding: 0 3rem;
}

.nav__section:nth-child(2){
    justify-content: space-around;
    padding: 0 3rem;
}

a{
    text-decoration: none;
}

/* MAIN SECTION */

main{
    width: 100%;
    height: calc(100vh - var(--navHeight));

    display: grid;
    grid-template-rows:2fr 1fr;
}

/* PRIMERA ROW */

.row:nth-child(1){
    display: grid;
    border-bottom: 1px solid var(--borderColor);
    grid-template-columns: 2fr 1fr;
}

.row:nth-child(1) > .box:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGEN */

.box__img{
    width: 90%;
    height: 90%;
    background: url(assets/Museum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    border-radius: 15px;
    background-position: top;
    transition: background-position 500ms, background-size 500ms;
    position: relative;
}

.box__img:hover{
    background-position: bottom;
    background-size: 110%;
}

.box__img::after{
    content: "";
    width: 30%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: rgba(20,20,20,0);
    border-radius: inherit;
    box-shadow: 10px -10px 60px rgb(5,10,15, 0.5);
    backdrop-filter:blur(5px) ;
}

.row:nth-child(1) .box:nth-child(2){
    border-left: 1px solid var(--borderColor);
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

/* CUBITOS A LA DERECHA  */

.cubito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cubito:nth-child(1) , .cubito:nth-child(2){
    border-bottom: 1px solid var(--borderColor);
}

.cubito:nth-child(even){
    border-left: 1px solid var(--borderColor) ;
    /* border-right: 1px solid var(--borderColor); */
}

/* SEGUNDO ROW */

.row:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row:nth-child(2) > .box:nth-child(2){
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}

@media only screen and (min-width: 1000px){
    main{
        width: 80%;
        margin: 0 auto;
        border-left: 1px solid var(--borderColor);
        border-right: 1px solid var(--borderColor);
    }
}